<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>               
    <div class="navbar-fixed">
      <nav  style="background-color: #3f51b5;">
        <div class="nav-content">
          <div class="nav-wrapper">

            <ul>
              <li><a href="../index.html">Ui-Picker</a></li>
              <li><a href="../templates/template.html">Templates</a></li>
            </ul>
          </div>
       </div>
      </nav>
    </div> 
</body>
</html>