*{
    box-sizing: border-box;
    margin: 0;
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background:yellow;
}

h3{
    margin: 3px 100px;
    color: white;
}

#form{
   margin: 15rem 0;
   padding: 10px;
   width:20rem;
   height: 15rem;
   background:#421a64;
}

input{
    margin: 12px;
    width: 14rem;
    padding: 3px;
    outline: none;
    border: none;
    border-bottom: 2px double white;
    background: transparent ;
    color:white;
}

button{
    margin:2px 7rem;
    width: 5rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background:white;
    color: #421a64;
}

label{
    color:white;
}


#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.item_display{

    margin:3px ;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 3px 3px 3px rgb(190, 187, 187);
    padding: 10px;
    text-align: center;
}