<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template.css">
    <title>Document</title>
</head>
<body id="body">
    <div id="sidenav">

    </div >
             
    <div id="form">
        <form>
            <h3>Sign In</h3>
            <label>Email</label><br>
            <input type="email"><br>
            <label>Password</label><br>
            <input type="password"><br>
            <button type="Submit">Submit</button>
        </form>
    </div>
 
    <script src="template.js"></script>
</body>
</html>