<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!--Import materialize.css-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- custom css -->
     <link rel="stylesheet" href="template.css">

    <title>Templates</title>
</head>
<body>
    <div id="nav"></div>
    <div class="container">
      <div class="card-panel deep-purple darken-1 white-text">
        <p class="center-align">
          Select a template of your wish and play with the colours to design your app.
        </p>
      </div>
      <div class="card" style="width: 18rem; margin: 30px;">
        <img src="images/temp1.png" class="card-img-top" alt="signup">
        <div class="card-body">
          <div class="card-text btn-align">
            <a href="template1.html" class="btn" target="_blank">Signup page</a>
          </div>
        </div>
      </div>
    </div>
    
     <!-- jquery -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>

     <!-- loader Js  -->
   <script src="../script.js"></script>
</body>
</html>